In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
df = pd.read_csv(r'Z:\SEM-3\ML\day_5\Nationality.csv')
df

    Gender Nationality
0     Male    Canadian
1   Female      Indian
2   Female     Russian
3   Female    Canadian
4     Male    Canadian
5   Female      Indian
6     Male      Indian
7     Male     Russian
8   Female     Russian
9   Female     Russian
10    Male      Indian
11    Male      Indian
12  Female    Canadian
13    Male    Canadian
14  Female      Indian
15  Female    Canadian
16    Male     Russian
17    Male     Russian
18    Male      Indian
19  Female      Indian
20    Male    Canadian
21  Female      Indian
22    Male     Russian
23    Male      Indian
24    Male    Canadian
25  Female    Canadian
26  Female    Canadian
27    Male    Canadian
28    Male      Indian
29    Male      Indian
30  Female      Indian
31  Female    Canadian
32    Male    Canadian
33    Male     Russian
34  Female      Indian
35  Female     Russian
36    Male    Canadian
37    Male      Indian
38  Female     Russian
39  Female    Canadian

In [ ]:
contigency = pd.crosstab(df['Gender'],df['isSmoker'])
contigency
#accuracy level p = calculated value
alpha = 1.0
chi2, p, dof, e = chi2_contigency(contigency)
reject_H0 = p < alpha
reject_H0