In [1]:
import pandas as pd

In [2]:
data_set = pd.read_csv(r'Z:\SEM-3\ML\day_10\car.csv')

In [3]:
data_set

    User ID  Gender  Age  Estimated Salary  Purchased
0         1    Male   56             20000          0
1         2    Male   43             34000          0
2         3  Female   25             43000          0
3         4  Female   46             54000          1
4         5    Male   76             78000          1
5         6    Male   32             66700          1
6         7  Female   22             45000          0
7         8    Male   45             13000          0
8         9  Female   33             30000          1
9        10  Female   18             50000          0
10       11  Female   25             86000          1
11       12  Female   38             57000          1
12       13    Male   45             65000          1
13       14    Male   55             43000          1
14       15  Female   43             45000          1
15       16  Female   24             55000          0
16       17  Female   54             10000          0
17       18    Male   20             40000          0
18       19    Male   48             20000          0
19       20    Male   46             52000          1
20       21    Male   33             77000          1
21       22    Male   32             50000          1

In [5]:
x = data_set.iloc[:, [0,2,3]].values

In [6]:
y = data_set.iloc[:, 4].values

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.25,random_state=0)

In [9]:
from sklearn.preprocessing import StandardScaler

In [10]:
st_x = StandardScaler()

In [11]:
x_train = st_x.fit_transform(x_train)

In [13]:
x_test = st_x.transform(x_test)

In [14]:
x_test

array([[-1.97068228, -4.01685735, -2.94888004],
       [-2.19554175, -4.10143885, -2.94885494],
       [-2.10559796, -3.91113048, -2.94896931],
       [-2.12808391, -3.78425823, -2.94897489],
       [-2.39791526, -3.91113048, -2.949     ],
       [-1.94819634, -4.02743004, -2.94895536]])

In [24]:
from sklearn.neighbors import KNeighborsClassifier

In [25]:
classifier = KNeighborsClassifier(n_neighbors=5)

In [26]:
classifier.fit(x_train,y_train)

KNeighborsClassifier()

In [27]:
# Predicting the test set result

y_pred = classifier.predict(x_test)

In [28]:
y_pred

array([0, 0, 0, 0, 0, 0], dtype=int64)

In [29]:
from sklearn import metrics

In [30]:
metrics.accuracy_score(y_test,y_pred)

0.16666666666666666