In [3]:
import pandas as pd

In [4]:
data_set = pd.read_csv(r'Z:\SEM-3\ML\day_11\car.csv')

In [5]:
data_set

    User ID  Gender  Age  Estimated Salary  Purchased
0         1    Male   56             20000          0
1         2    Male   43             34000          0
2         3  Female   25             43000          0
3         4  Female   46             54000          1
4         5    Male   76             78000          1
5         6    Male   32             66700          1
6         7  Female   22             45000          0
7         8    Male   45             13000          0
8         9  Female   33             30000          1
9        10  Female   18             50000          0
10       11  Female   25             86000          1
11       12  Female   38             57000          1
12       13    Male   45             65000          1
13       14    Male   55             43000          1
14       15  Female   43             45000          1
15       16  Female   24             55000          0
16       17  Female   54             10000          0
17       18    Male   20             40000          0
18       19    Male   48             20000          0
19       20    Male   46             52000          1
20       21    Male   33             77000          1
21       22    Male   32             50000          1

In [6]:
x = data_set.iloc[:,[0,2,3]].values

In [7]:
y = data_set.iloc[:,4].values

In [8]:
# splitting the training dataset into training and test set
from sklearn.model_selection import train_test_split

In [9]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=0)

In [19]:
x_train

array([[   12,    38, 57000],
       [   20,    46, 52000],
       [    9,    33, 30000],
       [    7,    22, 45000],
       [   17,    54, 10000],
       [    5,    76, 78000],
       [    3,    25, 43000],
       [    6,    32, 66700],
       [   18,    20, 40000],
       [   10,    18, 50000],
       [    8,    45, 13000],
       [   19,    48, 20000],
       [    4,    46, 54000],
       [    1,    56, 20000],
       [   16,    24, 55000],
       [   13,    45, 65000]], dtype=int64)

In [21]:
from sklearn.preprocessing import StandardScaler

In [22]:
st_x = StandardScaler()

In [ ]:
# fitting K-NN classifier to the training set
from sklearn.neighbors import KNeighborsClassifier

In [17]:
classifier = KNeighborsClassifier(n_neighbors=5)

In [23]:
classifier.fit(x_train,y_train)

KNeighborsClassifier()

In [24]:
# predicting the test set result

y_pred = classifier.predict(x_test)

In [27]:
y_pred

array([1, 1, 0, 0, 0, 0], dtype=int64)

In [28]:
from sklearn import metrics

In [29]:
score = round(metrics.accuracy_score(y_test,y_pred),2)

In [ ]:
KNeighborsClassifier(n_neighbors=5)

In [30]:
print("Accuracy: ",metrics.accuracy_score(y_test,y_pred))

Accuracy:  0.5

In [31]:
# feature scaling

In [32]:
from sklearn.preprocessing import StandardScaler

In [33]:
st_x = StandardScaler()

In [34]:
x_train = st_x.fit_transform(x_train)

In [35]:
x_test = st_x.transform(x_test)

In [36]:
x_test

array([[ 1.77482393, -0.40928647,  1.70936028],
       [ 0.08451543, -0.93317314,  2.17091641],
       [ 0.76063883,  0.24557188,  0.06827184],
       [ 0.59160798,  1.03140189, -0.03429618],
       [-1.43676223,  0.24557188, -0.49585231],
       [ 1.94385479, -0.4747723 ,  0.32469191]])