In [1]:
import pandas as pd

df = pd.read_csv(r'Z:\ML\graph_data.csv')
df

   product  profit  loss
0       12      10    34
1       23      20    76
2       34      30    42
3       45      35    98
4       56      70    45
5       67      34    90

In [5]:
df.columns = df.columns.str.upper()