In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv(r'Z:\ML\missing_data.csv')

In [3]:
df.columns = df.columns.str.upper()

In [10]:
df

      NAME  AGE  GENDER
0   dipesh   20    Male
1   Mahesh   54      ??
2  JAINISH  NaN    Male
3    Falak    X  Female
4  shubham   57    Male
5     ravi  NaN       ?
6       XX   70       ?
7     Neev   24    Male
8   Ramesh   //     123

In [12]:
df

      NAME  AGE  GENDER
0   dipesh   20    Male
1   Mahesh   54      ??
2  JAINISH  NaN    Male
3    Falak    X  Female
4  shubham   57    Male
5     ravi  NaN       ?
6       XX   70       ?
7     Neev   24    Male
8   Ramesh   //     123

In [13]:
missing_data_arr = ['??', 'X', '//', 'XX', '?']
df = df.replace(missing_data_arr, np.NaN)
df

      NAME  AGE  GENDER
0   dipesh   20    Male
1   Mahesh   54     NaN
2  JAINISH  NaN    Male
3    Falak  NaN  Female
4  shubham   57    Male
5     ravi  NaN     NaN
6      NaN   70     NaN
7     Neev   24    Male
8   Ramesh  NaN     123

In [14]:
df_clean = df.dropna()

In [15]:
df_clean

      NAME AGE GENDER
0   dipesh  20   Male
4  shubham  57   Male
7     Neev  24   Male

In [9]:
df.dtypes

NAME      object
AGE       object
GENDER    object
dtype: object

In [16]:
df['math'] = df['math'].astype('float64')

KeyError: 'math'